.calendar-container {
    width: 500px;
    background-color: rgb(54, 90, 92);
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
    .header {
        background-color: rgb(40, 160, 108);       
        text-align: center;
        padding-top: 10px;
        .title {
            display: flex;
            justify-content: space-between;
            margin: 0 20px;
            color: #fff;
            padding: 20px 0;
            font-size: 3rem !important;
            i {
                font-size: 3rem;
                padding: 5px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .day-name {
            padding: 20px 0;
            color: #fff;
            ul {
                display: flex;
                li {
                    // margin: 0 10px;
                    flex: 1;
                    font-size: 1.6rem;
                }
            }
        }
    }
    .body {
        
        ul {
                padding: 5px;
                display: flex;
                flex-wrap: wrap;
                li {
                    font-size: 1.6rem;
                   display: flex;
                   justify-content:center;
                   align-items:center;
                    height: 70px;
                    width: calc(100%/7);
                    color: #fff;
                    border: 1px solid rgb(54, 90, 92);
                    border-radius: 50%;

                    &:hover {
                        transition: all ease 0.3s;
                        background-color: rgb(67, 104, 108);
                    }
                }
                .out-day {
                    color: rgb(155, 155, 155);
                }
                .today {
                    background-color:rgb(40, 160, 108);
                    border-radius: 50%;
                }
            }
    }
}
body {
    display: flex;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#255a4b, #a2a3a5);
}

@import "./base.scss";
@import "./reponsive.scss";